/* Project specific CSS */
#submit-right {
  text-align: right;
}

#inline-label {
  display: inline;
}

.package {
  display: inline-block;
  margin-right: 2em;
  width: 200px;
  border: 1px solid black;
  margin-bottom: 1px;
  animation-name: slightly_move;
  animation-duration: 1s;
}

.close{

}
li {
  list-style-type: none;
  margin-bottom: 0px;
}

/*@keyframes slightly_move {
    0% {transform: translateY(-5px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
}*/
