{% extends "base.html" %}
{% block container %}
<div>
      Meny:
      <a href="{{ url_for('main.index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('main.login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('main.explore') }}">Explore</a>
      <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('main.logout') }}">Logout</a>
      {% endif %}
  </div>
<h1>Välkommen {{ current_user.username }}</h1>
<form method="POST" action="/">
  <h1>Hi, {{ current_user.username }}!</h1>
   {% if form %}
   <form action="" method="post">
       {{ form.hidden_tag() }}
       <p>
           {{ form.post.label }}<br>
           {{ form.post(cols=32, rows=4) }}<br>
           {% for error in form.post.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
       </p>
       <p>{{ form.submit() }}</p>
   </form>
   {% endif %}
   {% for post in posts %}
    {% if current_user.username %}
    <li id="post-{{post.id}}">
      <div class="package">
        <div class="checkbox">
          <label>
            <input id="checkbox-{{post.id}}" type="checkbox" name="check" data-item-id="{{post.id}}" {{ 'checked' if post.done }}> Ta bort? </input>
            {% include '_post.html' %}
          </label>
        </div>
      </div>
    </li>
    {% else %}
      {% include '_post.html' %}
    {% endif %}

   {% endfor %}
   {% if prev_url %}
   <a href="{{ prev_url }}">Newer posts</a>
   {% endif %}
   {% if next_url %}
   <a href="{{ next_url }}">Older posts</a>
{% endif %}
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
{% endblock %}
