{% extends "base.html" %}
{% block container %}
<h1>Välkommen</h1>
<p>Detta är en liten enkel todo-applikation.</p>

<form method="POST" action="/">
  {{ form.csrf_token }}

  {{ form.title.label }}
  {{ form.title(class="u-full-width", placeholder="Att göra...") }}

  {{ form.description.label }}
  {{ form.description(class="u-full-width", placeholder="Beskrivning...") }}

    {{ form.submit(class="button-primary") }}
</form>

<ul>
  {% for item in items %}
    <li id="item-{{item.id}}">
      <div class="package">
        <div class="checkbox">
        <label>
            <input id="checkbox-{{item.id}}" type="checkbox" name="check" data-item-id="{{item.id}}" {{ 'checked' if item.done }}> Klar?
        </label>
        <a href="{{ url_for('main.edit', id=item.id) }}">Ändra</a>
        </div>

        <h2>{{item.title}}</h2>
        <h4> {{item.description}} </h4>

      </div>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
  </div>

{% block script %}
<script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
{% endblock %}
