{% extends "base.html" %}
{% block container %}
<h1>Var vänlig och logga in!</h1>

    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        {{ form.csrf_token }}

        {{ form.username.label }}
        {{ form.username(class="u-full-width", placeholder="Username") }}

        {{ form.password.label }}
        {{ form.password(class="u-full-width", placeholder="Password") }}


        {{ form.submit(class="button-primary") }}
      </form>
    </div>
{% endblock %}
